.desc {
    justify-content: space-between;
}

.secondary__info {
    justify-content: space-between;
}


.pagination__container>li {
    cursor: pointer;

}

.active__pagination {
    background-color: #dfdcdc;
}

.like__active {
    filter: invert(50%) sepia(93%) saturate(1309%) hue-rotate(322deg) brightness(75%) contrast(101%)
}